@import "../../styles/variables";
@import "../../styles/breakpoint";

Button {
  width: 13rem;
  height: 3rem;
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  font-family: Nunito, sans-serif;
  cursor: pointer;
  transition: all 0.2s;
  touch-action: manipulation;
  color: $white !important;
  border: none;
  border-radius: 14px;
  background: $gradient;

  @include xl {
    width: 11rem;
    height: 2rem;
    font-size: 0.8rem !important;
    font-weight: 600 !important;
    font-family: Nunito, sans-serif;
    cursor: pointer;
    transition: all 0.2s;
    touch-action: manipulation;
    color: $white !important;
    border: none;
    border-radius: 30px;
    background: $gradient;
  }
}
