@import "../../styles/variables";
@import "../../styles/breakpoint";

// BIG Containers
.PageContainer {
  @include xl {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.HeaderContainer {
  font-size: 1rem;
  padding: 0 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include xl {
    font-size: 1rem;
    padding: 0 1rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    text-align: center;
    color: $primary-color;
    font-size: 2.4rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0 0rem;
    font-weight: 400;

    @include xl {
      text-align: center;
      color: $primary-color;
      font-size: 2rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
      font-weight: 400;
      padding: 0 0;
    }
  }
}

.HeaderInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem auto;
  margin-bottom: 3rem;
  text-align: center;
  @include xl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    margin-bottom: 0rem;
    text-align: center;
  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 0rem;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 0 1rem;
    @include xl {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 0 10rem;
    }
  }
}

// Card Container
.CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 14px;
  padding: 2rem 8rem;

  @include xl {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center !important;
    display: flex;
    flex-direction: row !important;
    padding: 2rem 10rem;
  }
  h3 {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 1.7rem;
    text-align: center;
    text-decoration: underline;
    @include xl {
      margin-bottom: 1.5rem;
      font-weight: 400;
      font-size: 1.2rem;
      text-align: center;
      text-decoration: underline;
    }
  }
  p {
    color: $primary-color;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    margin-top: 0.5rem;
    @include xl {
      color: $primary-color;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      margin-top: 0.5rem;
    }
  }
}

.CardLeft {
  text-align: center;
  width: 100%;
  float: left;
  padding: 2rem;

  img {
    margin: 0 auto;
    margin-top: 2rem;
    width: 15rem;
  }
  @include xl {
    text-align: center;
    width: 50%;
    float: left;
    padding: 2rem;
    img {
      margin: 0 auto;
      margin-top: 2rem;
      width: 10rem;
    }
  }
  @include xl {
    text-align: center;
    width: 100%;
    float: left;
    padding: 2rem;
    img {
      margin: 0 auto;
      margin-top: 2rem;
      width: 10rem;
    }
    @include xl {
      text-align: center;
      width: 50%;
      float: left;
      padding: 2rem;
      img {
        margin: 0 auto;
        margin-top: 2rem;
        width: 10rem;
      }
    }
  }
}

.CardLeftInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  h4 {
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: 300;
  }
  input {
    color: rgb(80, 80, 80);
    font-size: 1.3rem;
    width: 17rem;
    padding: 0.3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    text-align: right;
    font-weight: 100;
    border: none;
    border-bottom: 1px solid #01d2cb61;
    background: none !important;
  }
  @include xl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    h4 {
      color: $primary-color;
      font-size: 1rem;
      font-weight: 300;
    }
    input {
      color: rgb(80, 80, 80);
      font-size: 0.9rem;
      width: 17rem;
      padding: 0.3rem;
      margin-top: 0rem;
      margin-bottom: 0rem;
      text-align: right;
      font-weight: 100;
      border: none;
      border-bottom: 1px solid #01d2cb61;
      background: none !important;
    }
  }
}

.CardLeftInfo {
  margin-top: 2rem !important;
  p {
    color: $danger;
    text-align: center;
  }
}

.CardRight {
  width: 100%;
  float: right;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.861) !important;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 40px 55px -7px;
  @include xl {
    width: 50%;
    float: right;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.861) !important;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 40px 55px -7px;
  }
}

.CardRightInfo {
  margin-top: 1rem;
  p {
    color: $primary-color;
    font-size: 1.1rem;
    padding: 0rem;
    text-align: center;
  }
  @include xl {
    margin-top: 1rem;
    p {
      color: $primary-color;
      font-size: 0.7rem;
      padding: 0 1rem;
    }
  }
}

.ErrorInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  @include xl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    font-weight: 400;
    color: $danger;
    font-size: 1.3rem;
    @include xl {
      font-weight: 400;
      color: $danger;
      font-size: 1rem;
    }
  }
}

// Terms Container
.TermsContainer {
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center !important;
  width: 100%;
  @include xl {
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100%;
  }

  p {
    text-align: center;
    font-size: 1.2rem;
    @include xl {
      text-align: center;
      font-size: 1rem;
      margin-left: 1rem;
    }
  }
  a {
    color: $tertiary-color;
    font-weight: 600;
  }
}

// Button Container
.AloneButtonContainer {
  margin: 1rem 0;
  text-align: center;
  @include xl {
    margin: 0.8rem 0;
    text-align: center;
  }
}

.ButtonContainer {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  @include xl {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }
}
